ul{
    list-style-type: none;
    margin-top: 5px;
    margin-left: 10px;
    position: relative;
    margin-left: 740px;
}
ul li{
    margin-bottom: 5px;
    border:2px solid black;
    display: block;
    text-decoration: none;
    width: fit-content;
    padding: 10px;
}
ul ul{
    display: none;
    position:absolute;
    top: 100%;
}
ul ul li {
    float: none;
}
ul li li:hover > ul{
    display: list-item;
    

}
/*ul::after{
    content: "";
    clear: both;
    display: block;
}

    
    



