nav {
    font-family: sans-serif;
    
}
li{
    
    display: block;
}

li:hover{
    cursor: pointer;
}
ul{
    
    list-style-type: none;
    margin-top: 5px;
    
    position: relative;
    margin-left: 640px;
}
ul li ul{
    margin-bottom: 5px;
    
    position:absolute;
    display: block;
    border:2px solid black;
    display: block;
    text-decoration: none;
    width: fit-content;
    padding: 10px;
}
ul li:hover > ul,
ul li:focus-within>ul,
ul li ul:hover{
    visibility: visible;
    display: block;
    margin-left: 10px;
    position: relative;
    transition: 1s;



    

}
/*ul::after{
    content: "";
    clear: both;
    display: block;
}

    
    



